{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <link rel="icon" type="image/x-icon" href="/static/client_pong/images/favicon.png">
  <meta charset="UTF-8">
  <title>Meu SPA em Vanilla JS</title>
  <!-- Bootstrap (opcional) -->
  <link rel="stylesheet" href="/static/client_pong/vendor/bootstrap/bootstrap.min.css">
  </head>
<body>

  <!--
    Se quiser um menu fixo sempre (público ou privado), pode colocar aqui.
    Mas se quer “Navbar” só para usuários logados, deixaremos para o JS injetar
    quando a rota for privada.
  -->

  <!-- Container principal do SPA -->
  <div id="root" class="container mt-4"></div>

  <!-- Bootstrap JS (opcional) -->
  <script src="/static/client_pong/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- Arquivo principal do SPA -->
  <script src="{% static 'client_pong/js/spa.js' %}"></script>
</body>
</html>
