{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <link rel="icon" type="image/x-icon" href="/static/client_pong/images/favicon.png">
  <meta charset="UTF-8">
  <title>Meu SPA em Vanilla JS</title>
  <!-- Bootstrap (opcional) -->
  <link rel="stylesheet" href="/static/client_pong/vendor/bootstrap/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'client_pong/css/user-profile.css' %}">
</head>
<body>
  <!-- Navbar fixa para usuários logados -->
  <div id="navbar-container"></div>

  <!-- Container principal do SPA -->
  <div id="root" class="container mt-4"></div>

  <!-- Bootstrap JS (opcional) -->
  <script src="/static/client_pong/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- Arquivo principal do SPA -->
  <script src="{% static 'client_pong/js/spa.js' %}"></script>
</body>
</html>
