// config.js

window.API_BASE_URL = "https://${IP_ADDRESS}:4443";

window.DEFAULT_AVATAR = `${window.API_BASE_URL}/media/avatars/default.png`;

window.getAvatar = (avatarPath) => {
  if (!avatarPath) return window.DEFAULT_AVATAR;

  // Garante que o caminho final seja correto
  return avatarPath.startsWith("/media/")
    ? avatarPath
    : `/media/${avatarPath}`;
};

window.getWsUrl = (path = "") => {
  return "wss://${IP_ADDRESS}:4443" + path;  // e.g. /ws/chat/
};
