SECRET_KEY=django-insecure-rn9_4g7hoi_0xkvglm0f^3on+qs*m-sln5ucwp1*7vv_7(6pz0)
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,${IP_ADDRESS}

# Banco de dados
DB_NAME=ft_transcendence
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=db
DB_PORT=5432

EMAIL_HOST_USER=ft.transcendence.42rio@gmail.com
EMAIL_HOST_PASSWORD=kxmqhkjkvnfqmaoa