user  nginx;
worker_processes auto;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {

	types {
		application/javascript js;
		application/json json;
		image/svg+xml svg;
		image/x-icon ico;
		text/css css;
		text/html html;
	}

    # SERVIDOR HTTPS
    server {
        listen 443 ssl;
        server_name ${IP_ADDRESS};  # IP no server_name

        ssl_certificate     /etc/nginx/certs/cert.pem;
        ssl_certificate_key /etc/nginx/certs/key.pem;
        ssl_protocols TLSv1.2 TLSv1.3;

        # Arquivos estáticos
        location /static/ {
            alias /app/staticfiles/;
        }

        location /media/ {
            alias /app/media/;
        }

		location / {
			proxy_pass http://web:8000;  # Route requests to Django
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "Upgrade";
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto https;
		}
		
        # API Django (porta 8000 em HTTP interno)
        location /api/ {
            proxy_pass http://web:8000;
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Proto https;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
        }

        # WebSocket do Django Channels
        location /ws/ {
            proxy_pass http://web:8000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }
    }

    # SERVIDOR HTTP - Redireciona tudo para HTTPS
    server {
        listen 80;
        server_name ${IP_ADDRESS};
        return 301 https://$host$request_uri;
    }
}