.navbar-custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .navbar-divider {
    margin: 0;
    border: 0;
    border-top: 2px solid #ddd;
  }
  
  .language-section {
    background-color: #f8f9fa; /* Cor de fundo levemente diferente */
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  
  .language-text {
    font-weight: bold;
  }
  
  .language-selector {
    display: flex;
    gap: 0.5rem;
  }
  
  .language-flag {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .language-flag:hover {
    transform: scale(1.1);
  }
  